
body{
    margin:0;
    padding:0;
    background-color:burlywood;
}

header h1{
    height: 80px;
    margin : 0;    
    color :#8B4513;
    background-color:burlywood;
    
}

header p{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 50px;
    background-color:burlywood;
    color:beige;
}


.container{
    max-width : 1200px;
    width : 100%;
    margin : 0 auto;
    text-align : center;
}

img{
    width : 100%;
    transition : all .5s;
}

















section{
    padding: 70px 0;
    margin-top : 50px;
    background : burlywood;
    
}


main{
    display : grid;
    grid-template-columns : repeat(2, 2fr);
    grid-gap : 30px;
    margin : 0 15px;
}


.itemImage{
    position : relative;
    overflow :  hidden ;
    max-height : 500px;
    height : 100%;
    box-sizing : border-box;
    box-shadow : 0 2px 10px #ccc;
    transition : all .5s;
}

.itemName{
    position : absolute;
    left : 0;
    bottom : 0;
    width : 100%;
    font-size: 25px;
    color : #fff;
}

input[type=text]{
    width : 95%;
    border : 2px solid #aaa;
    border-radius : 4px;
    
    margin-bottom: 4px;
    outline : none;
    padding : 8px;
    box-sizing : borderbox;
    transition : .3s;
}


.button{
    background-color: pink; 
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}










@media (max-width : 992px){
    main{
        grid-template-columns : repeat(2, 1fr);
        grid-gap : 20px;
    }
}

@media (max-width : 767px){
    main{
        grid-template-columns : repeat(2, 1fr);
        grid-gap : 15px;
    }
    header{
        width : 95%;
    }
    .blogContent{
        bottom : 0;
    }
}

@media (max-width : 500px){
    main{
        grid-template-columns : repeat(1, 1fr);      
    }
}






